    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container" align="center">

        <%= form_tag login_user_path, :class => 'form-signin', :style => 'width: 30%' do %>

    <h2 class="form-signin-heading" align="center">Please sign in</h2>
        <p>&nbsp;</p>
        <p class="form-signin-heading" align="center">Only uploaders are required to sign in, if you are downloading notes you do not require an account</p>
        <p  style="color:red"><%= flash[:notice] %><p>
        <p>&nbsp;</p>
    <p>
    <%= text_field_tag(:email, params[:email], class: 'form-control', type: 'email' , placeholder: 'E-mail address' )%>
    <%= text_field_tag(:password, params[:password], class: 'form-control', type: 'password', placeholder: 'Password') %>
    </p>
    <p><%= submit_tag "Sign in", class: "btn btn-lg btn-primary btn-block" %></p>
<p><%= link_to "forgotten password?", new_password_reset_path %></p>
    <% end %>

    </div> <!-- /container -->
