<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container" align="center">

<%= form_for(@user, :url => password_reset_path(params[:id]), :html => {:class => 'form-signin', :style => 'width: 100%'}) do |f| %>
    <h2 class="form-signin-heading" align="center">Reset your password</h2>
    <p>&nbsp;</p>
    <p class="form-signin-heading" align="center">Please enter your new password, you will be able to sign in immediately.</p>
    <p>&nbsp;</p>
  <% if @user.errors.any? %>
    <div class="error_messages">
    <h2 class="form-signin-heading" align="center" >Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.text_field :password, :class => 'form-control', :type => 'passwordtop', :placeholder => 'New password' %>
  <%= f.text_field :password_confirmation, :class => 'form-control', :type => 'password', :placeholder => 'Confirm new password' %></p>

  <p><%= f.submit "Update Password", :class => "btn btn-lg btn-primary btn-block" %></p>
<% end %>

</div>
</div>