<div class="container">
    <div class="jumbotron">
            <h3 align="center"><%= @current_note.title %> <%= @current_note.cat %> Preview</h3>
            <p align="center"><% if @in_basket %>(In Basket)<% end %></p>
            <h3 align="center"><%= number_to_currency(@current_note.price, unit: "£ ") %></h3>
            <p>&nbsp;</p>
            <p align="center"><a class="btn btn-lg btn-primary" href="/baskets/new?note_id=<%= @current_note.id %>" role="button">Add to Basket</a></p>
            <p>&nbsp;</p>
            <p align="center">Uploaded by <%= @current_note.uploader %> on <%= @current_note.created_at.to_time.strftime('%e/%m/%Y') %> and downloaded <%= pluralize(@current_note.downloads, 'time') %>. Please note that due to your bandwidth our previews may not render at their full quality, we e-mail the notes to you once purchased to avoid this issue.</p>

            <iframe src="http://docs.google.com/gview?url=http://notespreview.s3-website-us-west-2.amazonaws.com/preview_<%= @name %>&embedded=true" style="width:100%; height:300px;" frameborder="0"></iframe>
            <p> Uploaded by <%= @current_note.uploader %> on <%= @current_note.created_at.to_time.strftime('%e/%m/%Y') %></p>
            <p align="center"><%= link_to "Back", session[:last_previews_page], :class => "btn btn-lg btn-primary" %></p>

    </div>
      <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2><%= @current_note.uploader %>'s Profile</h2>
              <p><%= @current_note.uploader %> joined Angly's notes in <%=h @joined.to_time.strftime('%Y') %>, 
                <% if @current_note.cat == "Professional Exam Notes" %>
                they passed there <%= @current_note.title %> exam in <%= @current_note.year %> using these notes.
                <% elsif  @current_note.cat == "Lecture Notes"%>
                they made these notes for a course on <%= @current_note.title %> taken at <%= @current_note.institute %> in <%= @current_note.year %>. 
                <%= @current_note.uploader %> achieved a <%= @current_note.grade %> grade using these notes.
                <% elsif @current_note.cat == "Textbook Notes"%>
                they made these notes for a <%= @current_note.grade %> in <%= @current_note.year %>.
                <% end %>
                 </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Buy Notes</h2>
              <p>Click below to buy these notes, you will be re-directed to PayPal&#0153; once the payment is complete we will e-mail the notes to you. </p>
              <p><a class="btn btn-lg btn-primary" href="/baskets/new?note_id=<%= @current_note.id %>" role="button">Add to Basket</a></p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>Notes to Sell?</h2>
              <p>If you want sell your notes on our site then please click below..... </p>
              <% if current_user %>
              <p><a class="btn btn-lg btn-primary" href="/upload_notes/" role="button">Upload</a></p>
              <% else %>
              <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Register</a></p>
              <% end %>
            </div>      
      </div>
</div>
