          <div class="row">
          <div class="container">
          <div class="col-xs-18 col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation" >
          <div class="jumbotron">
            <h2>Your Files</h2>
            <p>The table below shows your notes and their current status, if you have any queries or want to delete an upload please <a href="/contact">contact us</a>.</p>
            <table class="table table-striped">
              <thead>
                <tr>
                <th width="50%">Description</th>
                <th width="5%">Year</th>
                <th width="10%">Price</th>
                <th width="25%">Uploaded</th>
                <th width="5%">Downloads</th>
                </tr>
              </thead>
              <tbody>
                <% @notes.each do |note| %>
                  <tr>
                <td width="50%">
                  <% if note.cat == "Textbook Notes" %>
                    Textbook notes from: <%= note.title %> by <%= note.institute %>
                  <% elsif note.cat == "Lecture Notes" %>
                    Lecture notes from: <%= note.title %> course at <%= note.institute %>
                  <% else %>
                    Notes from the <%= note.title %> exam
                  <% end %>
                </td>
                <td width="5%"><%= note.year %></td>
                <td width="10%"> 
                    <%= number_to_currency(note.price, unit: "£ ") %> 
                </td>
                <td width="25%"><%= note.uploader %> on <%= note.created_at.to_time.strftime('%e %b %Y') %></td>
                <td width="10%"><%= note.downloads %></td>
                </tr>
                <% end %>
              </tbody>
            </table>

            <h3> Sorry we do not have the notes you are looking for at the moment please try again later </h3>

          </div>
          </div>
          </div>
          </div>