<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container" align="center">
	<h1>Administrator</h2>
		<p align="center"><table align="center" class="table table-striped">
			<thead>
				<th>Description</th>
				<th>Statistic</th>
			</thead>
			<tbody>
				<td>Downloads 24 h</td>
				<td><%=h @down_last_day %></td>
			</tr>
			<tr>
				<td>Downloads 7 day</td>
				<td><%=h @down_last_week %></td>
			</tr>
			<tr>
				<td>Uploads 24 h</td>
				<td><%=h @up_last_day %></td>
			</tr>
			<tr>
				<td>Uploads 7 days</td>
				<td><%=h @up_last_week %></td>
			</tr>
		</tbody>
	</table>


<% if @notes_to_ver.count == 0 %>
<p>&nbsp;</p>
<% else %>
<h2>Notes to Verify</h2>
<table class="table table-striped" >
              <thead>
                <tr>
                <th width="60%">Description</th>
                <th width ="20%">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% @notes_to_ver.each do |note| %>
                  <tr>
                <td width="50%">
                  <% if note.cat == "Textbook Notes" %>
                   <a href="<%= note.attachment_url %>" target="_blank">Textbook notes from: <%= note.title %> by <%= note.institute %> made by <%= note.uploader %> in <%= note.year %></a>
                  <% elsif note.cat == "Lecture Notes" %>
                    <a href="<%= note.attachment_url %>"  target="_blank">Lecture notes from: <%= note.title %> course at <%= note.institute %> made by <%= note.uploader %> in <%= note.year %></a>
                  <% else %>
                  	<a href="<%= note.attachment_url %>"  target="_blank">Notes from the <%= note.title %> exam made by <%= note.uploader %> in <%= note.year %></a>
                  <% end %>
                </td>
                <td width="20%">
                  <a href="/admin/<%= note.id %>/verify" class="btn btn-default">Verify &raquo;</a>
                </td>
                </tr>
                <% end %>
              </tbody>
            </table>
<% end %>

<% if @payout == 0 %>
<p>&nbsp;</p>
<% else %>
<h2>Payouts To Make</h2>
<table class="table table-striped" >
              <thead>
                <tr>
                <th width="30%">Uploader</th>
                <th width ="20%">Note ID</th>
                <th width ="20%">Download Date</th>
                <th width="20%">Pay Out</th>
                </tr>
              </thead>
              <tbody>
                <% @baskets_pay.each do |note| %>
                  <tr>
                <td>
                	<%= note.note_uploader %>
                </td>
                <td>
                	<%= note.note_id %>
                </td>
                <td>
                	<%= note.updated_at %>
                </td>
                <td>
                	<%= number_to_currency(0.5*note.note_price, unit: "£ ") %>
                
               </td>
                	</tr>
                <% end %>
              </tbody>
            </table>
<% end %>
</div>

            
 
