<div id="myCarousel" class="carousel slide" data-ride="carousel">
   
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Study</h1>
              <p>Angly's Notes provides a platform for students to buy and sell notes from textbooks, lectures and professional exam courses. We act as a publisher of individuals notes saving you time and effort.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Buy with confidence.</h1>
              <p>All uploaders credentials are available to you before you buy and you can see a free preview of the notes to make sure the style of the notes suits you.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Costs</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Have notes to upload.</h1>
              <p>Uploading your notes is simple, register for an account, upload a pdf and you could be earning within days. We share our takings with you or your nominated charity by PayPal&#0153;.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>

            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <div class="container marketing">

      
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag('prof.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
          <h2>Professional Exams</h2>
          <p>Preparing for your CFA, CIMA or CII exams? Avoid expensive courses and use our notes from people who were in your situation just a few years ago. We also have notes available for medical and legal professional examinations reducing the time you need to spend with your head buried in heavy textbooks.</p>
          <p><a class="btn btn-default" href="finance/index.html" role="button">See notes &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <%= image_tag('textbook.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
          <h2>Textbooks</h2>
          <p>Textbooks can be bulky and expensive, limit your library time by using our notes. All our notes have been made by students studying from the textbooks in the last few years, you can check the credentials of each uploader before purchasing the notes. Our notes cannot replace a textbook but can make your life much easier!</p>
          <p><a class="btn btn-default" href="#" role="button">See notes &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <%= image_tag('lecture.jpg', :class => "img-circle", :style => "width: 140px; height: 140px;")%>
          <h2>Lectures</h2>
          <p>Whether you are looking to study for university exams or want to delve deeper into a subject our lecture notes are for you. The notes are made by highly successful students in Russell Group universities, you can check the uploader credentials before uploading. We hold notes on a range of subjects from fine art to physics.</p>
          <p><a class="btn btn-default" href="#" role="button">See notes &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What we do. <span class="text-muted">Notes made easy. </span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('ben.jpg', :class => "featurette-image img-responsive")%>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag('ben.jpg', :class => "featurette-image img-responsive")%>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Buy with confidence. <span class="text-muted">Money back guarantee.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Notes to Upload? <span class="text-muted">Learn how.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('ben.jpg', :class => "featurette-image img-responsive")%>
        </div>
      </div>

      <hr class="featurette-divider">
