<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<% if current_user %>
      <div class="container">
      <div class="col-xs-10 col-sm-7">
        <p class="pull-right visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h2 align="center">Profile: <%= current_user.first_name %> <%= current_user.last_name %></h2>
            <p>&nbsp;</p>
            <table style="width:100%">
            <td><p>Username:</p></td>
            <td colspan="2"><p><%= current_user.user_name %></p></td>
          </tr>
      <tr>
      <td><p>Email Address:</p></td>
      <td colspan="2"><p><%= current_user.email %></p></td>
      </tr>
      <tr>
      <td><p>Payment Method:</p></td>
      <td><p><%= current_user.payment_method %></p></td>
      <td><a class="btn btn-default" href="/change_payment" role="button">Change &raquo;</a></td>
      </tr>
      <tr>
      <td><p>Joined on:</p></td>
      <td><p><%= current_user.created_at.to_time.strftime('%e %B %Y') %></p></td>
      </tr>
      <tr>
      <td><p>Password:</p></td>
      <td><p>************</p></td>
      <td><a class="btn btn-default" href="CFA1/index.html" role="button">Reset &raquo;</a></td>
      </tr>
      </table>     
          </div>
        </div>

        <div class="col-xs-8 col-sm-5 sidebar-offcanvas" id="sidebar" role="navigation" >
          <div class="jumbotron" align="center">
             <h2>Statistics</h2>
            <p>&nbsp;</p>
            <table style="width:100%">
            <% if @count == 0 %>
                        <td width="50%"><p><b>Uploads:</b></p></td>
            <td align="center"><p><b>None</b></p></td>
          </tr>
      <tr>
      <td><p><b>Downloads:</b></p></td>
      <td align="center" ><p><b>NA</b></p></td>
      </tr>
      <tr>
      <td><p><b>Earned:</b></p></td>
      <td align="center" ><p><b>NA</b></p></td>
      </tr>
      <tr>
      <td><p>Average value:</p></td>
      <td align="center" ><p>NA</p></td>
      </tr>
      <tr>
      <td><p>Total value:</p></td>
      <td align="center"><p>NA</p></td>
      </tr>
            <% else %>
            <td width="50%"><p><b>Uploads:</b></p></td>
            <td align="center"><p><b><%=h @count %></b></p></td>
          </tr>
      <tr>
      <td><p><b>Downloads:</b></p></td>
      <td align="center" ><p><b><%=h @downloaded %></b></p></td>
      </tr>
      <tr>
      <td><p><b>Earned:</b></p></td>
      <td align="center" ><p><b><%= number_to_currency(@earned, unit: "£ ") %></b></p></td>
      </tr>
      <tr>
      <td><p>Average value:</p></td>
      <td align="center" ><p><%= number_to_currency(@averaged, unit: "£ ") %></p></td>
      </tr>
      <tr>
      <td><p>Total value:</p></td>
      <td align="center"><p><%= number_to_currency(@totalled, unit: "£ ") %></p></td>
      </tr>
      <% end %>
      </table> 
          </div>
        </div>

<%if @count == 0 %>
<p>&nbsp;</p>
<% else %>
        <div class="row">
        <div class="container">
        <div class="col-xs-18 col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation" >
          <div class="jumbotron">
            <h2>Your Files</h2>
            <p>The table below shows your notes and their current status, if you have any queries or want to delete an upload please <a href="/contact">contact us</a>.</p>
            <table class="table table-striped">
  <thead>
    <tr>
      <th width="60%">Description</th>
      <th width="10%">Year</th>
      <th width="10%">Status</th>
      <th width="10%">Price</th>
      <th width="10%">Downloads</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td width="60%">
        <% if note.cat == "Textbook Notes" %>
          Textbook notes from: <%= note.title %> by <%= note.institute %>
        <% elsif note.cat == "Lecture Notes" %>
          Lecture notes from: <%= note.title %> course at <%= note.institute %>
        <% else %>
          Notes from the <%= note.title %> exam
        <% end %>
      </td>
      <td width="10%"> <%= note.year %></td>
      <td width="10%"> 
        <% if note.verified == "1" %>
          Verified 
         <% else %>
         Not Verified 
         <% end %>
       </td>
             <td width="10%"> 
        <% if note.price == 0 %>
          Unassigned 
         <% else %>
         <%= number_to_currency(note.price, unit: "£ ") %> 
         <% end %>
       </td>
       <td width="10%"><%= note.downloads %></td>
      </tr>
    <% end %>
  </tbody>
</table>
          </div>
         </div>
         </div>
     </div>
      </div>
<% end %>          

<% else %>
<div class="container" align="center">

        <%= form_tag login_user_path, :class => 'form-signin', :style => 'width: 30%' do %>

    <h2 class="form-signin-heading" align="center">Please sign in</h2>
        <p>&nbsp;</p>
        <p class="form-signin-heading" align="center">You must login to view profiles, not a registered user then please return to <%= link_to 'home', root_url %> or <a href="signup"> register</a>.</p>
</p>
        <p  style="color:red"><%= flash[:notice] %><p>
        <p>&nbsp;</p>
    <p>
    <%= text_field_tag(:email, params[:email], class: 'form-control', type: 'email' , placeholder: 'E-mail address' )%>
    <%= text_field_tag(:password, params[:password], class: 'form-control', type: 'password', placeholder: 'Password') %>
    </p>
    <p><%= submit_tag "Sign in", class: "btn btn-lg btn-primary btn-block" %></p>
<p><%= link_to "forgotten password?", new_password_reset_path %></p>
    <% end %>

    </div>
<% end %>